* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #000000;
    
}

img {
    width: 583px;
    height: 450px;
    display: block;
    margin: 156px auto;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    width: 299px;
    height: 20px;
    display: block;
    margin: 126px auto 29px;
    color: #ffffff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 29px;
    gap: 62px;
    
}

.input-min,
.input-max {
    width: 342px;
    height: 74px;
    border-radius: 14px;
    cursor: pointer;
    border: 1px solid #FFFFFF33;
    background-color: #FFFFFF33;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    color: #ffffff;
    
}
button {
    width: 342px;
    height: 72px;
    border-radius: 10px;
    background-color: #AEC346;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 2.5px;
    display: block;
    margin: 79px auto;
    box-shadow: 0px 18px 40px 0px #AEC34659;
    cursor: pointer;
}
button:hover {
    opacity: 0.7;
}
button:active {
    opacity: 0.5;
}